@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-neue-haas-display-pro);
  --font-mono: var(--font-geist-mono);
  --font-adobe: var(--font-adobe-carlson-pro);

  --color-primary: #fff;
}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-primary);
}
