@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-neue-haas-display-pro);
  --font-mono: var(--font-geist-mono);
  --font-adobe: var(--font-adobe-carlson-pro);

  --color-primary: #fff;
}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-primary);
}

.blog-container h3 {
  @apply font-bold;
}

.blog-container img {
  @apply mb-8;
}

.blog-container hr {
  @apply my-6;
}

.blog-container p {
  @apply mb-4;
}

.blog-container ul {
  @apply list-disc list-inside;
}

.blog-container ol {
  @apply list-decimal list-inside;
}
